$primary_color: mediumseagreen;
$secondary_color: mintcream;
$text_color: black;
$secondary-text-color: white;
$table-bgc: rgba(0, 0, 0, 0.7);
$table-items-border: rgba(255, 255, 255, 0.7);
$location-info-bgc: rgba(255, 255, 255, 0.8);
$footer-backgroundcolor: black;
$footer-border-color: white;
