main {
  .breakfast,
  .lunch,
  .dinner {
    padding-bottom: 1rem;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .breakfast {
    background-image: url("images/breakfast.jpg");
  }
  .lunch {
    background-image: url("images/lunch.jpg");
  }
  .dinner {
    background-image: url("images/dinner.jpg");
  }

  .menuTitle {
    padding-top: 2rem;
    padding-bottom: 1rem;

    h2 {
      background-color: $primary-color;
      color: $secondary-text-color;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
    }
  }
  .fullMenu {
    width: 80%;
    margin: 1.5rem auto;
    .menu {
      background-color: $table-bgc;
      table {
        width: 95%;
        margin: 0 auto;
        color: $secondary-text-color;
        font-size: 1rem;
        border-collapse: collapse;
        caption {
          font-size: 2rem;
          font-weight: bold;
          text-align: left;
          padding-top: 0.7rem;
          padding-bottom: 0.7rem;
        }
        tbody {
          tr {
            & :nth-child(1) {
              margin-left: 1rem;
            }
            & :nth-child(2) {
              text-align: right;
            }
          }
          td {
            border-bottom: 5px solid $table-items-border;
            padding-bottom: 0.2rem;
            padding-top: 0.2rem;
          }
        }
      }
    }

    div:nth-of-type(2) {
      div:nth-of-type(1) {
        padding-bottom: 1rem;
      }
    }
  }

  //BOOK A TABLE
  .bookTable {
    display: flex;
    flex-direction: column;

    border: 3vw solid $primary-color;

    h3 {
      background-color: $primary-color;
      color: $secondary-text-color;
      margin: 0.7rem auto 0 auto;
      text-align: center;
    }

    .book {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 2rem auto;
      .left div,
      .rigth div {
        display: flex;
        align-items: flex-end;
        height: 30px;
      }
      .left {
        text-align: right;
        padding-right: 1rem;
        div {
          margin: auto;
          justify-content: flex-end;
        }
      }
      .rigth div {
        border-bottom: 1px solid $primary-color;
      }
    }

    h3,
    .book {
      width: 90%;
      // max-width: 400px;
    }

    input {
      border: 0;
      width: 100%;
    }

    #btnBook {
      border-radius: 20px;
      width: 30%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      align-self: center;
      margin-bottom: 0.3rem;
      border-bottom: 1px solid $primary-color;
      font-weight: bold;
      &:hover {
        background-color: $secondary_color;
      }
    }
  }

  .locationFrame {
    position: relative;
    .location {
      position: absolute;
      background-color: $location-info-bgc;
      //   width: 15%;
      top: 13vh;
      left: 8vw;
      padding: 1rem;
      h3,
      p {
        margin-left: 0.5rem;
      }
      h3 {
        padding-top: 0.7rem;
        padding-bottom: 1rem;
        font-size: 1rem;
        text-transform: uppercase;
      }
      p {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}

@include tablet {
  main {
    .bookTable {
      h3,
      .book {
        width: 40%;
        .left div,
        .rigth div {
          height: 50px;
        }
      }
      h3 {
        margin-top: 3rem;
      }
      #btnBook {
        margin-bottom: 3rem;
      }
    }
  }
}

@include desktop {
  main {
    .bookTable {
      h3,
      .book {
        width: 50%;
      }
    }
    .breakfast,
    .lunch,
    .dinner {
      padding-left: 3rem;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;

      .fullMenu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        div:nth-of-type(1) {
          padding-bottom: 1rem;
        }
        div:nth-of-type(2) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          div:nth-of-type(1) {
            padding-top: 3rem;
          }
        }
      }
    }
  }
}
